<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div>
    <h1><%= pog.name %></h1>
    <p>Serial Number: <%= pog["Serial Number"] %></p>
    <p>Amount Produced: <%= pog["Amount Produced"] %></p>




    <p><label>Colors:</label>
    <select id="Pogs" onchange="pogChange()">
      
      <%for (let Colors = 0; Colors < pog.colors.length; Colors++) { %>
        pog.colors[Colors];
      <option value = <%= Colors %>> <%=   pog.colors[Colors] %> </option> 
      
      <%} %>
      
    </select> </p>



    <a href="/"><img src="/pogs/<%=pog.name%>.png" alt="/pogs/<%=pog.name%>.png" width="200px" height="auto" id="pogPNG" onerror="this.src ='/pogs/<%=pog.name%>.png';unknown(); this.onerror = ' ' "></a> 
    <p id="error"></p>
  </div>

  <script>
    var pog = <%- JSON.stringify(pog.name) %>
    console.log(pog);
    var pogImage = document.getElementById("Pogs");
    function pogChange() {
      console.log(pogImage.value);
      if (pogImage.value == 0) {
        document.getElementById('error').innerText = ""
        let pogpng = document.getElementById("pogPNG")
          pogpng.src = `/pogs/${pog}.png`
      } else {
        let pogpng = document.getElementById("pogPNG")
        document.getElementById('error').innerText = ""
          pogpng.src = `/pogs/${pog}${pogImage.value}.png`
          pogpng.setAttribute('onerror',`this.src ='/pogs/${pog}.png'; unknown() ; this.onerror = ' '  `)
        
      }
    }
    function unknown() {
      document.getElementById('error').innerText = "Sorry, this pog/color does not exist in the page"

    }

      </script>

</body>
</html>