<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>OnlyPogs: <%= pog.name %></title>
</head>

<body>
  <h1>
    <%= pog.name %>
  </h1>

  <div class="center">
    <!--Created the image of the pog on the pog page-->
    <a id="img" href="/"><img src="/pogs/<%=pog.name%>.png" alt="/pogs/<%=pog.name%>.png" width="200px" height="auto"
        id="pogPNG" onerror="this.src ='/pogs/<%=pog.name%>.png';unknown(); this.onerror = ' ' "></a>
        <div id="infoBoxes">

        <!--Dropdown menu that displays the available colors of the currently selected pog-->
        <div class="infobox">
          <p class="infoheader"><label>Colors</label></p>
          <p class="info"> <select id="Pogs" onchange="pogChange()">
              <%for (let Colors=0; Colors < pog.colors.length; Colors++) { %>
                <option value=<%=Colors %>> <%= pog.colors[Colors] %>
                </option>
    
                <%} %>
    
            </select>
          <p id="error"></p>
          </p>
        </div>
        <!--Displays the amount produce of the current pog-->
        <div class="infobox">
          <p class="infoheader">Amount Produced </p>
      <p class="info">
        <%= pog.amount %>
      </p>
    </div>
    <!--Displays the serial number of the current pog-->
    <div class="infobox">
      <p class="infoheader">Serial Number </p>
      <p class="info">
        <%= pog.serial %>
      </p>
    </div>
    <!--Displays the tags of the current pog-->
    <div class="infobox">
      <p class="infoheader">Tags</p>
      <p class="info">
        <%= pog.tags %>
      </p>
    </div>
    
        </select>
        <p id="error"></p>
        </p>
    <!--Displays the Rarity of the current pog-->
    <div class="infobox">
      <p class="infoheader">Pog Rarity</p>
      <p class="info" id="rarityBox"></p>
    </div>
  <!--Displays the lore of the current pog-->
  <div class="infobox">
    <p class='infoheader'>Pog Lore /p>
    <p class='info'>
      <%= pog.lore %>
    </p>
  </div>
</div>


  <script>
    //Creating a variable called pog and setting it to the stringified pog.name
    var pog = <%- JSON.stringify(pog.name) %>
    
    var pogImage = document.getElementById("Pogs");
    //A function that changes the pog image based on the currently selected pog
    function pogChange() {
      console.log(pogImage.value);
      if (pogImage.value == 0) {
        document.getElementById('error').innerText = ""
        let pogpng = document.getElementById("pogPNG")
        pogpng.src = `/pogs/${pog}.png`
      } else {
        let pogpng = document.getElementById("pogPNG")
        document.getElementById('error').innerText = ""
        pogpng.src = `/pogs/${pog}${pogImage.value}.png`
        pogpng.setAttribute('onerror', `this.src ='/pogs/${pog}.png'; unknown() ; this.onerror = ' '  `)

      }
    }
    function unknown() {
      document.getElementById('error').innerText = "sorry this pog/color does not exist."
    }


    // Stringifying the pog data and setting it to a variable called pogData
    var pogData =  <%- JSON.stringify(pog) %>

      console.log(pogData.amount)

    // total pog amount
    var totalPog = 1856.5

    //getting the pog percentage out of the total amount of pogs
    var pogPercent = pogData.amount / totalPog * 100
    pogPercent = pogPercent.toFixed(2)
    console.log(pogPercent)

    //setting rarities
    if (pogPercent >= 10) {
      document.getElementById('rarityBox').innerText = 'Common'
    } else if (pogPercent < 10 && pogPercent >= 3) {
      document.getElementById('rarityBox').innerText = 'Uncommon'
    } else if (pogPercent < 3 && pogPercent >= 1) {
      document.getElementById('rarityBox').innerText = 'Rare'
    } else if (pogPercent < 1 && pogPercent > 0.05) {
      document.getElementById('rarityBox').innerText = 'Epic'
    } else if (pogPercent <= 0.05) {
      document.getElementById('rarityBox').innerText = 'Legendary'
    }else {
      document.getElementById('rarityBox').innerText = 'N/A'
    }
  </script>

</body>

</html>